<div class="row sm-12 col" id="home">
    <div class="row flex-center">
        <div class="sm-12"><H1>Welcome to the C.I.A.</H1></div>
    </div>   
    <div class="row">
    <div class="sm-3 col align-bottom sm-hide">
        <img src="/pointer.jpg">
    </div>
    <div class="sm-6 text-center">        
        <H5>(Customer Information Acquisition)</H5>
        <h4>Welcome to the site that offers very little in terms of actual value.  However, if you're feeling up to giving away lots of personal information for no reason what-so-ever, please take our survey below.</h4>
    </div>
    <div class="sm-3 col align-bottom sm-hide">
        <img src="/house.jpg">
    </div>
    </div> 
</div>
<div class="row flex-center">
    <div class="sm-6 col text-center"><button onclick="window.location.href='/survey';">Take Me To The Survey!</button></div>
</div>