<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signin" name="signin" method="post" action="/admin/question">
        <label for="email">Question</label>
        <input class="text" name="question" type="text" />
        <input type="hidden" name="question.state" value="adsfasdf"/>
        <label for="email">Answer 1</label>
        <input class="text" name="answer" type="text" />
        <label for="email">Answer 2</label>
        <input class="text" name="answer" type="text" />
        <label for="email">Answer 3</label>
        <input class="text" name="answer" type="text" />
        <label for="email">Answer 4</label>
        <input class="text" name="answer" type="text" />
        <label for="email">Answer 5</label>
        <input class="text" name="answer" type="text" />                                
        <input class="btn" type="submit" value="Save" />
    </form>
 
</body>
 
</html>