<div class="row flex-center" id="register">
    <div class="sm-4 col">
        <form id="signup" name="signup" method="post" action="/register">
            <label for="email">Email Address</label>
            <input class="text" name="email" type="email" />
            <label for="firstname">First Name</label>
            <input name="firstname" type="text" />
            <label for="lastname">Last Name</label>
            <input name="lastname" type="text" />
            <label for="password">Password</label>
            <input name="password" type="password" />
            <input class="btn" type="submit" value="Sign Up" />
        </form>
    </div>
    <div class="sm-6 col">
        <h4>I know what you're thinking...we're asking a lot of questions here and you feel as though it'll be like filling out your tax return.  But trust me, we need this information so we can make snarky comments on the site.</h4>
        <img src="catputer.jpg">
    </div>
</div>

