body {
    padding:10px;
}

body > .container {
    min-height: 600px;
}

#answerlist > .answer {
    float:left;
}

input[name=question] {
    width: 400px;
}

#home img, #login img, #register img, #survey img{ border:none; }
#home h1 { margin: 0px; }
#survey h2 { margin:0px; }
#survey h3 {margin:0px; margin-bottom:5px;}

#survey .secret-message {display:none;}

.question.singleStack > .answers > .col {
    width:100%;
    -webkit-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
}

@media only screen and (max-width: 992px) {
    .md-hide { display: none; }
}

@media only screen and (max-width: 768px) {
    .sm-hide { display: none; }
    body > .container {
        min-height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .xsm-hide { display: none; }
}